body {
    color: lightblue;
}
div {
    border: 2px solid;
	border-color:#000000;
    border-radius: 25px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
	margin-top:10px; 
	margin-left:10px;
	margin-right:10px; 
	margin-bottom:10px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}
#Update { 
	border: 0px solid;
    border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	margin-top:0px; 
	margin-left:0px;
	margin-right:0px; 
	margin-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}